# =====================
# GLOBAL
# =====================

NODE_ENV=development

# =====================
# BACKEND API (NestJS)
# =====================

API_PORT=3000
API_STORAGE=../../storage

# =====================
# FRONTEND (Vite)
# =====================

VITE_WEB_PORT=5173
VITE_API_URL=http://localhost:3000
VITE_BASE_URL=""
VITE_APP_VERSION="0.1.0"
VITE_NOT_PERSIST=false